<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Windows Boot Switcher"
    Manufacturer="Windows Boot Switcher"
    Version="1.0.0.0"
    UpgradeCode="9E3D9E84-8A8A-4B6F-9B2D-0D4C1B4B9A6A"
    Scope="perMachine"
    InstallerVersion="500"
    Compressed="yes">
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="Windows Boot Switcher" Level="1" />
  </Package>
</Wix>
